@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #777777;
}

/* ----------------- navbar */
.container-wrapper-nav {
    height: 75px;
    padding: 0;
    margin: 0;
}

#logo {
    color: #aa0d19;
    font-family: "Oleo Script", cursive;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding-left: 5px;
}

.navbar-collapse li {
    text-decoration: none;
}

.navbar-collapse a {
    align-items: right;
    color: #000000;
}

.navlink {
    font-size: 1.5rem;
}

.navbar-dark {
    background-color: #f2f2f2;
    margin: 0;
}

.active a {
    color: #aa0d19;
}

.navbar-toggler {
    background-color: #aa0d19;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* ----------------- Hero images */


.hero-image {
    background: url(../images/IMG_0458.jpeg) no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 75vh;  
    padding: 0; 
}

.markenhaven-image {
    background: url(../images/Markenhaven-Albert-Dros-1732x1080.jpg) no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0; 
}

.routes-background {
    background: url(../images/filip-mroz-unsplash.jpg) no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0;
}

.canoes-background {
    background: url(../images/james-coleman-unsplash.jpg) no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0;
}

.paddle-background {
    background: url(../images/louis-hansel-unsplash.jpg) no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0; 
}

/* --------------------- Jumbotron ---------*/

.jumbotron {
    background-color: transparent;
    height: 100%;
}

.jumbotron-overlay {
    background-color: rgba(0,0,0,0.25);
    height: 100%;
    width: 100%;
    position: absolute;
    /*z-index: 1; */
}

#jumbotron-header {
    font-size: 2.5rem;
}

#jumbotron-tagline {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.jumbotron h1,h3 {
    text-align: center;
    color: #f2f2f2;
}

.uppercase {
    text-transform: uppercase;
}

.text-divider {
    width: 140px;
    height: 2px;
    border-radius: 0.2em;
    background-color: #aa0d19;
    margin: 0 auto;
}


.btn-danger {
    margin-top: 50px;
    background-color: #aa0d19;
    border: 1px solid #f2f2f2;
    color: #f2f2f2 !important;
}

.btn {
    color: #f2f2f2 !important;
}

/* --------- CSS Animation Section */

.animation-heading, .animation-heading-booking {
    font-size: 8vmin;
    }

.animation-text-zero {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation: reveal 3s 1;
}

.animation-text-one {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation: reveal 2s 1;
    animation-delay: 3.5s;
}

.animation-text-two {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation: reveal 2s 1;
    animation-delay: 6s;
}
.animation-text-three {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation: reveal 2.5s 1;
    animation-delay: 9s;
}

.animation-text-four {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation: reveal 2.5s 1;
    animation-delay: 12s;
}

.animation-text-five {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation: reveal 2.5s 1;
    animation-delay: 15s;
}

.animation-text-six {
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    width: 0px;
    animation-name: reveal-booking;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-delay: 18s;
    animation-direction: normal;
}


@keyframes reveal {
    0% {opacity:0;width:80vw;}
    10% {opacity:0.2;}
    20% {opacity:0.4;}
    30% {opacity:0.6;}
    40% {opacity:0.8;}
    50% {opacity:1;}
    60% {opacity:0.8;}
    70% {opacity:0.6;} 
    80% {opacity:0.4;}
    90% {opacity:0.2;}
    100% {opacity:0;width:80vw;}
}

@keyframes reveal-booking {
    0% {opacity:0;width:80vw;}
    10% {opacity:0.2;}
    20% {opacity:0.6;}
    30% {opacity:0.8;}
    40% {opacity:1;}
    50% {opacity:1;}
    60% {opacity:1;}
    100% {opacity:1;width:80vw;}
}

/* --------- Introduction section */

.intro-column {
    margin: 0 auto;
}

.intro-text {
    text-align: center;
    max-width: 80vw;
    padding-top: 25px;
    padding-bottom: 35px;
}

.intro-text h2 {
    text-align: center;
    color: #000;
}

.intro-text p {
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}

.intro-text .btn {
    margin: 0 auto;
}

.intro-content, .intro-callout {
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 2em;
}


/* ------------------ Quotes section */

.grey-row {
    background-color: #f2f2f2;
}

.quotes {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
    padding-top: 15px;
}

.quotes hr {
    width: 50%;
    color: #aa0d19;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 5px;
}


.checked {
    color: green;
}

/* ----------------- Canoe section */

.business-offer {
    margin-top: 20px;
   /* background-color: #f2f2f2; */
}

.circle-container {
    height: 300px;
    width: 300px;
    border: 2px solid #aa0d19;
    border-radius: 50%;
    background-color: #f2f2f2;
    margin-left: 25px;
    padding: 20px;
    margin: 0 auto;
    }

.offer-container h2 {
    font-size: 24px;
    color: #000000;
}

.circle-image {
    height: 100%;
    border-radius: 50%;
}

.circle-image:hover {
    animation-name: circle-image-zoom;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
}


@keyframes circle-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.165);  
    }
}

.offer-container {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.offer-container h2 {
    padding-top: 15px;
}

.offer-container a {
    text-decoration: none;
}

.kayaks-image {
    height: 100%;
    border-radius: 50%;
    background: url("../images/adobestock_canoes.jpeg") no-repeat center center;
}

.routes-image {
    height: 100%;
    border-radius: 50%;
    background: url("../images/routes.jpg") no-repeat center center;
}

.booking-image {
    height: 100%;
    border-radius: 50%;
    background: url("../images/booking400x267.jpg") no-repeat center center;
}



/* ----------------- Footer */

.footer {
    height: 150px;
}

.footer-socials {
    background-color: #f2f2f2;
    height: 150px;
    padding: 0;
    margin-top: 25px;
}

.socials {
    text-align: center;
    }

.socials li i {
    font-size: 40px;
    color: #aa0d19;
    line-height: 125px;
    }

.socials li {
    list-style-type: none;
    display: inline;
    padding: 5%;
     }

.socials li a {
    text-decoration: none;
}

.fab:hover {
  opacity: 0.7;
    }


.socials {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    color: #aa0d19;
    font-size: 10px;
    }



/*-- Canoes page*/

.canoe-column {
    margin-top: 35px;
}

.canoe-flow-column {
    margin-top: 35px;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.routes-flow-column {
    margin-top: 35px;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.canoe-flow-column h2, .routes-flow-column h2 {
    color: #aa0d19;
    font-size: 16px;
}

.canoe-heading {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.canoe-heading i {
    color: #aa0d19;
}

.canoe-text {
    padding-left: 45px;
    padding-right: 45px;
}

.specs-container {
    border: 1px solid #aa0d19;
   /* padding-top: 10px 0;*/
   margin: 10px 45px;
   border-radius: .3rem;
}

.canoe-info-specs {
    display: block;
    clear: both;
    justify-content: center;
}

.canoe-info-specs .key {
    width: 40%;
    vertical-align: top;
    display: inline-block;
    padding-top: 5px;
}

.key p {
    font-weight: bold;
}

.canoe-info-specs .value {
    width: 40%;
    position: relative;
    display: inline-block;
}

.key p, .value p {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #aa0d19;
} */

.carousel-indicators li {
    background-color: #959ead;
}

#singleKayakCarousel .active,
#dualKayakCarousel .active,
#canadianCanoeCarousel .active {
    background-color: #aa0d19;
}

.carousel {
    max-width: 90%;
    margin: 0 auto;
}

 /*------------- Routes page*/

.routes-top-column {
    margin: 0 auto;
}

.routes-column {
    margin-top: 35px;
}

.routes-heading {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.routes-heading i {
    color:#aa0d19;
}

.routes-text {
    padding-left: 45px;
    padding-right: 45px;
}


.active, .dot:hover {
  background-color: #f2f2f2;
}

.route-download {
    margin-top: 25px;
}

.route-download h2 {
    font-size: 1rem;
    color: #000;
    text-align: center;
}

.route-download i {
    color: #aa0d19;
}



 /*------------- Booking page*/

.form-control {
    margin-bottom: 15px;
    }

.general-conditions {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.booking-row {
    width: 50vw;
    margin: 0 auto;
    }

.booking-column {
    color: #000;
}

.booking-legend {
    font-size: 16px;
    padding-top: 15px;
    font-weight: bold;
    }

.booking-column {
    margin: 15px;
    border: 1px solid #aa0d19;
    margin-left: 15px;
    max-width: 100;
    border-radius: .3rem;
    justify-content: center;
    display: flex;
}

.contact-details {
    margin: 15px;
    border: 1px solid #495057;
    border-radius: .25em;
    max-width: 100%;
}

.input-container {
    display: flex;
}

.input-container i {
    background-color: #000;
}

.icon {
  padding: 10px;
  background: black;
  color: white;
  min-width: 50px;
  text-align: center;
  height: calc(1.5em + .75rem + 2px);
  border-radius: .25rem;
}

.checkbox {
    color: #000;
}

/*------------- Contact page*/


.contact-column h3 {
    color: #000;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}

.contact-column h4 {
    font-size: 20px;
    color: #000;
}

.contact-info, .parking-info, .opening-hours {
    margin: 15px;
    border: 1px solid #aa0d19;
    margin-left: 15px;
    max-width: 100vw;
    border-radius: .3rem;
    display: block;
    padding: 10px;
}

.contact-form {
    margin: 15px;
    padding: 20px;
    border: 1px solid #aa0d19;
    border-radius: .3rem;
    display: block;
}

.parking-info h4 {
    margin-bottom: 0;
}


/*------------- Media Queries*/

@media screen and (max-width: 575px) {
    #logo {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        padding-left: 5px;
    }
    .booking-row {
        width: 70vw;
    }
}

@media screen and (max-width: 375px) {
    #logo {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        padding-left: 5px;
    }
    .booking-row {
        width: 90vw;
    }
}

@media screen and (max-width: 320px) {
    #logo {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 400;
        padding-left: 5px;
    }
    .booking-row {
        width: 100vw;
    }
}



