@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #777777;
}

/* ----------------- navbar */

/* ----------------- Hero image */

#hero-outer {
    width: 100%;
    height: 750px;
    position: relative;
}

.hero-image {
    background: url(../images/hero-image3020_620.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;    
}

/* ----------------- Jumbotron */

.jumbotron-welcome {
    background-color: rgba(0,0,0, 0.6);
    position: relative;
    width: 449px;
    height: 134px;
    padding: 0;
    bottom: 0;
    float: right;
    border: 2px solid #ffffff;
    text-align: center;
    color: #f2f2f2;
}

/* ----------------- Canoe section */


/* ----------------- Footer */