@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #777777;
}

/* ----------------- navbar */
.container-wrapper-nav {
    height: 75px;
    padding: 0;
}

/*
.navbar-brand {
    font-size: 36px;
} */

.navbar-brand h1 {
    color: #aa0d19;
    font-family: "Oleo Script", cursive;
    font-weight: 400;
    font-size: 70px;
    padding-left: 5px;
}

.navbar-collapse li {
    text-decoration: none;
}

.navbar-collapse a {
    align-items: right;
    color: #f2f2f2;
}

.navlink {
    font-size: 24px;
}

.navbar-dark {
    background-color: #000;
}
/* ----------------- Hero images */


.hero-image {
    background: url(../images/hero-image3020_620.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;  
    padding: 0; 
}

.markenhaven-image {
    background: url(../images/Markenhaven-Albert-Dros-1732x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0; 
}

.routes-background {
    background: url(../images/filip-mroz-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0;
}

.canoes-background {
    background: url(../images/james-coleman-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50vh;  
    padding: 0;
}

/* --------------------- Jumbotron ---------*/

.jumbotron {
    background-color: transparent;
    height: 100%;
}

.jumbotron-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    /*z-index: 1; */
}

.jumbotron h1 {
    font-size: 72px;
}

.jumbotron h3 {
    font-size: 48px;
}

.jumbotron h1,h3 {
    text-align: center;
    color: #f2f2f2;
}

.uppercase {
    text-transform: uppercase;
}

.btn-book-now {
    margin-top: 15px;
    background-color: #aa0d19;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;   
}

/* ------------------ Introduction section */

.intro-text {
    margin: 0 auto;
}

.intro-content, .intro-callout {
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 2em;
}


/* ------------------ Quotes section */

.quotes {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #000000;
    text-align: center;
    background-color: #f2f2f2;
}

.quotes hr {
    width: 50%;
    color: #aa0d19;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 5px;
}

/* ----------------- Canoe section */

.business-offer {
    margin-top: 20px;
   /* background-color: #f2f2f2; */
}

.circle-container {
    height: 300px;
    width: 300px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #f2f2f2;);
    margin-left: 25px;
    padding: 20px;
    margin: 0 auto;
    }

.offer-container h2 {
    font-size: 24px;
    color: #000000;
}

.circle-image {
    height: 100%;
    border-radius: 50%;
}

.circle-image:hover {
    animation-name: circle-image-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes circle-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.165);  
    }
}

.offer-container {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.offer-container h2 {
    padding-top: 15px;
}

.offer-container a {
    text-decoration: none;
}

.kayaks-image {
    height: 100%;
    border-radius: 50%;
    background: url("../images/adobestock_canoes.jpeg") no-repeat center center;
}

.routes-image {
    height: 100%;
    border-radius: 50%;
    background: url("../images/routes.jpg") no-repeat center center;
}

.booking-image {
    height: 100%;
    border-radius: 50%;
    background: url("../images/booking400x267.jpg") no-repeat center center;
}



/* ----------------- Footer */

.footer {
    height: 150px;
}

.footer-socials {
    background-color: #000000;
    height: 150px;
}

.socials {
    text-align: center;
    }

.socials li i {
    font-size: 40px;
    color: #f2f2f2;
    line-height: 125px;
    }

.socials li {
    list-style-type: none;
    display: inline;
    padding: 5%;
     }

.fab:hover {
  opacity: 0.7;
    }

 /*------------- Booking page*/

    .form-control {
        width: 66%;
        margin-bottom: 15px;
    }

#general-conditions {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

